html,
body {
    background-color: var(--white-blue);

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: var(--roboto);
    }

    h3 {
        text-align: center;
        color: var(--dark-blue);
    }

    .tiny-title {
        text-align: center;
        color: var(--dark-blue);
        padding: 10px 0;
        font-size: 15px;
    }

    #info-text {
        color: var(--medium-blue);
        font-size: 13px;
        padding: 0 10%;
    }

    #medium {
        font-family: var(--medium);
    }

    #bold {
        font-family: var(--bold);
    }

    header {
        position: fixed;
        width: 100%;
        height: 3rem;
        z-index: 4;
        background-color: var(--white-blue);
        padding: 8px;

        .nav-bar {
            background: var(--white-blue) url(../logos/circle.svg) no-repeat;
            background-position-y: center;
            background-position-x: 3rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .circle {
                display: none;
            }

            .more-info {
                background-color: var(--yellow);
                width: 2.5rem;
                height: 2rem;
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .lines {
                    width: 1.2rem;
                    height: 3px;
                    background-color: white;
                    margin: 1.7px 0;
                }
            }

            .nav-btn {
                background: var(--primary-blue);
                color: white;
                border: var(--primary-blue);
                font-size: 15px;
                height: 2rem;
                width: 6rem;
            }

            .nav-bar-menu {
                display: flex;
                position: absolute;
                background-color: var(--white-blue);
                list-style: none;
                top: 100%;
                left: 0;
                width: 100vw;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                height: 0;
                overflow: hidden;
                transition: height 0.3s ease;

                a {
                    text-align: center;
                    color: var(--medium-blue);
                    text-decoration: none;
                }

                a:active {
                    color: var(--primary-blue);
                }
            }

            .nav-bar-menu.active {
                height: 6rem;
            }
        }

    }


    #main {
        padding-top: 4rem;

        .main-section.desktop {
            display: none;
        }

        .main {
            display: flex;
            justify-content: space-evenly;

            .hero-img {
                padding-right: 1rem;
                display: flex;
                flex-direction: column;
                position: relative;
                height: 80%;

                .hero {
                    height: 200px;
                    position: relative;
                }

                .hero-imgs {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 100%;
                    height: 100%;

                    .card-one {
                        position: absolute;
                        height: 60px;
                        top: 0;
                        left: 0;
                    }

                    .card-two {
                        position: absolute;
                        height: 55px;
                        bottom: 0;
                        right: 0;


                    }
                }
            }
        }

        .main-info {
            color: var(--medium-blue);
            padding: 1rem;
            line-height: 30px;
            width: 45%;
        }

        h1 {
            color: var(--dark-blue);
            text-align: center;
            padding: 1rem 2rem;
            line-height: 40px;
            margin-right: 0;
        }


        .btns {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding-top: 2rem;

            .touch {
                background: var(--primary-blue);
                color: white;
                border: var(--primary-blue);
                font-size: 15px;
                height: 2rem;
                width: 6rem;
            }

            .work {
                background: var(--white-blue);
                color: var(--medium-blue);
                border: var(--white-blue);
                font-size: 15px;
                height: 2rem;
                width: 6rem;
            }
        }
    }

    .logos {
        filter: grayscale(100%);
        height: 15px;
        display: flex;
        justify-content: space-evenly;
        margin: 3rem 0;

        .logo {
            height: 15px;
        }
    }

    .slider {
        position: relative;
        width: 100vw;
        overflow: hidden;
        display: flex;
        align-items: center;
        margin: 2rem 0 5rem;

        .projects {
            margin: 0 auto;
            display: flex;
            gap: 2rem;
            transition: transform 0.5s ease-in-out;

            .project {
                a {
                    background-color: white;
                    display: flex;
                    flex: 0 0 100%;
                    box-shadow: var(--shadow);
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    text-decoration: none;

                    &.visible {
                        box-shadow: var(--shadow);
                        visibility: visible;
                    }

                    &.hidden {
                        visibility: hidden;
                    }

                    .number-text {
                        padding: 1rem 3.5rem;
                        position: absolute;
                        top: 0;
                        left: 0;
                        font-size: 0.8rem;
                        color: var(--dark-blue);
                    }

                    .learn {
                        padding: 15px 0;
                        color: var(--primary-blue);
                        font-size: 13px;
                    }

                    .learn:active {
                        color: var(--medium-blue);
                    }

                    img {
                        height: 9rem;
                        width: 100%;
                    }
                }
            }
        }

        button {
            position: absolute;
            background-color: var(--white-blue);
            color: var(--dark-blue);
            border: none;
            cursor: pointer;
            height: 100%;
            width: 2.5rem;
            z-index: 2;
        }

        .prev {
            left: 0;
        }

        .next {
            right: 0;
        }
    }


    .clients {
        background: var(--dark-blue) url(../testimonial-section/orbit.png) no-repeat;
        background-size: 100% 100%;
        position: relative;
        display: flex;
        justify-content: space-evenly;


        .memojis-up {
            width: 100%;
            position: absolute;
            display: flex;
            justify-content: space-between;
            top: 0;
        }

        .memojis-down {
            width: 100%;
            position: absolute;
            display: flex;
            justify-content: space-between;
            bottom: 0;
            left: 0;
        }

        img {
            width: 13%;
            padding: 8px;
        }

        .clients-info {
            .clients-text {
                text-align: center;
                color: var(--yellow);
                padding: 2rem;
            }

            h3 {
                color: var(--white-blue);
                padding: 4rem 3rem 0;
            }
        }

        .profile {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 4rem;

            .profile-photo {
                border-radius: 50%;
                height: 50px;
                width: 50px;
            }

            .profile-text {
                z-index: 2;

                #name {
                    color: var(--hover)
                }

                #name:active {
                    color: #D1EDFF;
                }

                #url {
                    color: var(--white-blue);
                }
            }
        }
    }

    #services {
        padding-top: 2rem;

        .services {
            padding: 2rem 0 4rem;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            .service {
                width: 80%;
                background-color: white;
                box-shadow: var(--shadow);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                padding: 1rem;

                a {
                    padding: 15px 0;
                    text-decoration: none;
                    color: var(--primary-blue);
                    font-size: 14px;

                }

                a:active {
                    color: var(--medium-blue);
                }
            }
        }
    }

    #questions {
        .questions-info {
            background-color: var(--yellow);

            .questions {
                padding: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 15rem;
                color: var(--dark-blue);

                h3 {
                    font-size: 1.5rem;
                }

                form {
                    input {
                        height: 40px;
                        width: 200px;
                        border: white;
                        padding-left: 45px;
                        background: white url(../newsletter/icon/mail.svg) no-repeat;
                        background-position-y: center;
                        background-position-x: 10px;
                    }

                    button {
                        background: var(--primary-blue);
                        color: white;
                        border: var(--primary-blue);
                        font-size: 15px;
                        line-height: 130%;
                        height: 40px;
                        width: 90px;
                    }
                }
            }
        }
    }

    footer {
        padding: 5rem 1rem 2rem;
        color: var(--medium-blue);

        address {
            padding: 1rem 0;
        }

        .links {
            padding-top: 2rem;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            text-align: center;
            font-size: 20px;

            .link {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                gap: 1rem;

                a {
                    text-decoration: none;
                    color: var(--medium-blue);
                }

                a:active {
                    color: var(--primary-blue);
                }
            }
        }
    }

    @media screen and (min-width: 700px) and (max-width: 1024px) {

        html,
        body {

            .tiny-title,
            #info-text,
            a {
                font-size: large;
                text-align: center;
            }
        }

        header {
            box-sizing: border-box;
            padding: 0;

            .nav-bar {
                padding: 0 1rem;
                height: 4rem;
                background-position-x: 4rem;
                display: flex;
                align-items: center;
            }
        }

        h3 {
            font-size: 1.5rem;
        }

        #main {
            padding-top: 6rem;

            h1 {
                font-size: 1.7rem;
            }

            .main-info {
                font-size: 1.4rem;
                line-height: 45px;
                padding-bottom: 2rem;
            }

            .btns {

                .work,
                .touch {
                    height: 3rem;
                    width: 7rem;
                }
            }
        }

        .logos {
            padding: 4rem 0;
        }

        #projects {
            button {
                width: 20%;
            }

            .projects {
                width: 60%;
                height: 20rem;

                .project {
                    a {
                        br {
                            display: none;
                        }

                        .learn {
                            font-size: large;
                        }

                        img {
                            height: 11rem;
                        }
                    }
                }

                .number-text {
                    padding-left: 1.5rem;
                }
            }
        }

        .clients {
            padding-top: 3rem;

            .clients-text {
                font-size: 1.3rem;
            }
        }

        #services {
            .services {
                .service {
                    gap: 2rem;
                    padding: 2rem 0;
                }
            }
        }

        .questions {
            height: 20rem;
            justify-content: space-around;

            p {
                font-size: 1.3rem;
            }

            form {
                display: flex;
                gap: 1rem;

                input {
                    width: 65vw;
                    height: 4rem;
                }

                button {
                    width: 7rem;
                    height: 4rem;
                }
            }
        }
    }

    @media screen and (min-width: 1025px) {

        html,
        body {
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;

            main {
                max-width: 1440px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                }

                h2 {
                    font-size: var(--h2-size);
                }

                h3 {
                    font-size: var(--h3-size);
                }

                h4 {
                    font-size: var(--h4-size);
                }

                .tiny-title {
                    font-size: var(--body-medium);
                    line-height: var(--medium-height);
                    padding: 0;
                }

                #info-text {
                    font-size: var(--headline);
                    line-height: var(--regular-height);
                    padding: 0;
                }

                header {
                    height: 122px;
                    width: 100%;
                    padding: 70px 170.64px 0;
                    position: static;

                    .nav-bar {
                        height: 52px;
                        padding: 0;
                        width: 100%;
                        max-width: 1099.36px;
                        background-image: none;
                        display: flex;
                        justify-content: space-between;

                        .nav-bar-menu {
                            position: static;
                            width: 295px;
                            height: 22px;
                            display: flex;
                            justify-content: space-between;
                            gap: 60px;
                            flex-direction: row;
                            align-items: center;

                            li {
                                font-size: var(--headline);

                                a:hover {
                                    color: var(--primary-blue);
                                }
                            }

                        }

                        .circle {
                            display: block;
                            height: 18.46px;
                            width: 60.53px;
                        }

                        .more-info {
                            display: none;
                        }

                        .nav-btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 52px;
                            width: 150px;
                            font-size: var(--headline);
                            line-height: var(--medium-height);
                            text-decoration: none;
                        }

                    }
                }

                #main {
                    margin-top: 100px;
                    height: 650px;
                    padding: 0 170px;

                    .main-section.mobile {
                        display: none;
                    }

                    .main-section.desktop {
                        display: block;
                        height: 100%;

                        .main {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .main-left {
                                margin-top: 109px;
                                margin-bottom: 119px;
                                max-height: 422px;
                                height: 100%;
                                max-width: 530px;
                                width: 100%;
                                flex: 0.5;

                                h1 {
                                    padding: 0;
                                    font-size: clamp(1.7rem, 4vw, var(--h1-size));
                                    text-align: start;
                                    max-width: 530px;
                                    width: 100%;
                                    max-height: 210px;
                                    height: 100%;
                                    line-height: normal;

                                }

                                p {
                                    margin-top: 30px;
                                    margin-bottom: 40px;
                                    padding: 0;
                                    max-width: 435px;
                                    width: 100%;
                                    max-height: 90px;
                                    height: 100%;
                                    line-height: normal;
                                    font-size: var(--body-regular);
                                }

                                .btns {
                                    padding: 0;
                                    display: flex;
                                    justify-content: flex-start;

                                    .touch,
                                    .work {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        height: 52px;
                                        width: 150px;
                                        font-size: var(--headline);
                                        line-height: var(--medium-height);
                                        text-decoration: none;
                                    }
                                }

                            }

                            .hero-img {
                                position: relative;
                                padding: 0;
                                max-width: 570px;
                                width: 100%;
                                height: 100%;
                                flex: 0.5;

                                .hero {
                                    max-height: 637px;
                                    height: 100%;
                                    width: 100%;
                                    transform: rotate(-1.39deg);
                                }

                                .hero-imgs {
                                    .card-one {
                                        position: absolute;
                                        max-height: 216px;
                                        height: 36%;
                                        max-width: 190px;
                                        width: 35%;
                                        top: 25px;
                                        box-shadow: var(--shadow);
                                        border-radius: 15%;
                                    }

                                    .card-two {
                                        position: absolute;
                                        max-height: 193px;
                                        height: 33%;
                                        max-width: 190px;
                                        width: 35%;
                                        top: 72%;

                                        box-shadow: var(--shadow);
                                        border-radius: 15%;
                                    }
                                }
                            }
                        }
                    }
                }

                .logos {
                    margin-top: 130px;
                    margin-bottom: 200px;
                    height: 96px;
                    width: 100%;
                    justify-content: center;

                    .logos-container {
                        margin: 0 170px;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .logo-container {
                            height: 96px;
                            width: 150px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .logo {
                                height: fit-content;
                            }
                        }
                    }
                }

                #projects {
                    margin-bottom: 200px;
                    width: 100%;
                    height: 561px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    button,
                    .number-text {
                        display: none;
                    }

                    .project-detail {
                        margin: 0 2rem;
                        height: 100%;
                        max-width: 1100px;
                        width: 100%;


                        h3 {
                            text-align: start;
                            margin-bottom: 70px;
                        }

                        .slider {
                            margin: 0;
                            max-height: 444px;
                            height: 100%;
                            width: 100%;
                            overflow: visible;

                            .projects {
                                transition: none;
                                margin: 0;
                                width: 100%;
                                height: 100%;
                                gap: 40px;
                                justify-content: space-between;

                                .project {

                                    a {
                                        visibility: visible;
                                        max-width: 340px;
                                        max-height: 444px;
                                        height: 100%;
                                        align-items: flex-start;
                                        flex: 1;

                                        &.visible,
                                        &.hidden {
                                            max-width: 340px;
                                            width: 100%;
                                            max-height: 444px;
                                            height: 100%;
                                        }

                                        #info-text,
                                        .learn,
                                        .tiny-title {
                                            margin-left: 30px;
                                        }

                                        .tiny-title {
                                            margin-top: 30px;
                                        }

                                        #info-text {
                                            margin-top: 10px;
                                            margin-bottom: 54px;
                                            font-size: var(--headline);


                                            br {
                                                display: none;
                                            }
                                        }

                                        .learn {
                                            padding: 0;
                                            font-size: var(--body-regular);
                                            margin-bottom: 30px;
                                        }

                                        img {
                                            max-width: 340px;
                                            width: 100%;
                                            max-height: 240px;
                                            height: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                #press {
                    padding: 0 60px;
                    height: 622px;
                    width: 100%;

                    .clients {
                        height: 100%;
                        width: 100%;

                        .dark-background {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            .clients-info {
                                max-width: 1100px;
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                gap: 105px;

                                h3 {
                                    padding: 0;
                                    max-height: 40px;
                                    width: 100%;
                                    font-size: clamp(2rem, 2vw, var(--h3-size));
                                }

                                .clients-text {
                                    padding: 0;
                                    width: 100%;
                                    font-size: clamp(1rem, 2vw, var(--body-medium));
                                    line-height: 160%;
                                }

                                .profile {
                                    padding: 0;

                                    .profile-text {
                                        margin-left: 10px;

                                        #name {
                                            font-size: var(--headline);
                                            line-height: 100%;
                                            margin-bottom: 5px;
                                            color: var(--hover);
                                        }

                                        #url {
                                            font-size: var(--caption-two);
                                        }
                                    }

                                    .profile-photo {
                                        height: 50px;
                                        width: 50px;
                                    }
                                }
                            }
                        }

                        .memojis-up {
                            padding: 51px 91px 0 76px;
                            width: 100%;
                        }

                        .memojis-down {
                            padding: 0 72px 73px 63px;
                            width: 100%;
                        }

                        img {
                            padding: 0;
                            max-height: 150px;
                            max-width: 150px;
                        }
                    }
                }

                #services {
                    padding: 0;
                    margin-top: 200px;
                    margin-bottom: 64px;
                    height: 497px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .serv-section {
                        height: 100%;
                        margin: 0 2rem;

                        h3 {
                            text-align: start;
                            margin-bottom: 70px;
                        }

                        .services {
                            padding: 0;
                            max-height: 380px;
                            height: 100%;
                            max-width: 1100px;
                            width: 100%;
                            flex-direction: row;
                            gap: 40px;

                            .service {
                                padding: 40px 30px 30px;
                                max-height: 380px;
                                height: 100%;
                                max-width: 340px;
                                width: 100%;
                                align-items: flex-start;
                                justify-content: center;

                                a {
                                    margin-top: 36px;
                                    padding: 0;
                                    font-size: var(--headline);
                                }

                                .tiny-title {
                                    font-size: clamp(20px, 2vw, var(--body-medium));
                                }

                                #info-text {
                                    max-height: 90px;
                                    max-width: 280px;
                                    font-size: clamp(17px, 1.1vw, var(--body-regular));
                                    line-height: var(--regular-height);
                                    margin-top: 20px;
                                }

                                .serv-logo {
                                    margin-bottom: 30px;
                                    height: 80px;
                                    width: 80px;
                                    background-color: var(--light-blue);
                                    border-radius: 50%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    img {
                                        height: 40px;
                                        width: 40px;
                                    }
                                }

                            }
                        }
                    }
                }

                #questions {
                    margin: 136px 0 170px;
                    padding: 0 60px;
                    height: 500px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .questions-info {
                        max-width: 1320px;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;


                        .questions {
                            height: 227px;
                            width: 1100px;
                            padding: 0;

                            h3 {
                                font-size: var(--h3-size);
                            }

                            p {
                                font-size: var(--body-regular);
                                margin-top: 20px;
                                margin-bottom: 50px;
                            }

                            form {
                                input {
                                    padding-left: 70px;
                                    height: 80px;
                                    width: 393px;
                                    background-position-x: 30px;
                                    background-size: 30px;
                                    background-position-y: 25px;
                                }

                                input::placeholder {
                                    color: var(--dark-blue);
                                    font-size: var(--headline);
                                    line-height: var(--regular-height);
                                }

                                button {
                                    height: 80px;
                                    width: 198px;
                                    font-size: var(--headline);
                                    line-height: var(--medium-height);
                                    margin-left: 20px;
                                }
                            }
                        }
                    }
                }

                footer {
                    padding: 0 170px;
                    width: 100%;
                    height: 242px;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;

                    .footer {
                        margin-top: 30px;
                        max-width: 1100px;
                        width: 100%;
                        height: 112px;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;

                        .address {
                            max-width: 260px;
                            width: 24%;

                            img {
                                height: 30px;
                                width: 98.38px;
                                margin-bottom: 30px;
                            }

                            address {
                                padding: 0;
                                font-size: var(--headline);
                                font-style: normal;
                                line-height: var(--regular-height);
                                height: 52px;
                            }
                        }

                        .links {
                            padding: 0;
                            width: 435px;
                            justify-content: space-between;
                            gap: 106px;

                            .link {
                                height: 112px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                font-size: var(--headline);
                                text-align: start;
                            }
                        }
                    }
                }
            }
        }
    }
}