@import url(https://db.onlinewebfonts.com/c/0033a2fbc0329740fb86c1cfd134cb94?family=Roboto);
@import url(https://db.onlinewebfonts.com/c/03613b6e684c3d8421fc15ef7e0214b5?family=Roboto+Regular);
@import url(https://db.onlinewebfonts.com/c/002209bee8df7c3666a712ebd9253f60?family=Roboto+Bold);
@import url(https://db.onlinewebfonts.com/c/021e919fd2310de5f9ad257e4b9be77e?family=Roboto+Medium);

html,
body {
    background-color: #F4F6FC;

    * {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }
    
    h3 {
        text-align: center;
        color: #292E47;
    }

    #medium {
        font-family: 'Roboto Medium', 'Roboto', sans-serif;
    }

    #bold {
        font-family: 'Roboto Bold', 'Roboto', sans-serif;
        ;
    }

    .nav-bar {
        box-sizing: border-box;
        position: fixed;
        width: 100vw;
        height: 6%;
        background: #F4F6FC url(../logos/circle.svg) no-repeat;
        background-position-y: center;
        background-position-x: 4rem;
        display: flex;
        justify-content: space-between;
        padding: 0 1rem 0 1rem;
        align-items: center;
        z-index: 1;


        .more-info {
            background-color: #FFC600;
            width: 2.5rem;
            height: 2rem;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .lines {
                width: 1.2rem;
                height: 3px;
                background-color: white;
                margin: 1.7px 0;
            }
        }

        .nav-btn {
            box-sizing: border-box;
            background: #072AC8;
            color: #F4F6FC;
            border: #072AC8;
            font-size: 15px;
            line-height: 130%;
            height: 2rem;
            width: 6rem;
        }

        .nav-bar-menu {
            display: flex;
            position: absolute;
            background-color: white;
            list-style: none;
            top: 100%;
            left: 0;
            width: 100vw;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 0;
            overflow: hidden;
            transition: height 0.3s ease;

            a {
                text-align: center;
                color: #6B708D;
                text-decoration: none;
            }

            a:active {
                color: #072AC8;
            }
        }

        .nav-bar-menu.active {
            height: 6rem;
        }
    }

    .main {
        padding-top: 4rem;
        background: url(../hero-section/hero-image.png) no-repeat;
        background-size: 10rem;
        background-position-x: 12rem;
        background-position-y: 12rem;

        .main-info {
            color: #6B708D;
            padding: 1rem;
            line-height: 30px;
            width: 45%;
        }

        h1 {
            color: #292E47;
            text-align: center;
            padding: 1rem 2rem;
            line-height: 40px;
            margin-right: 0;
        }

        .card-one {
            position: absolute;
            height: 100px;
            left: 10.5rem;
            top: 10rem;
        }

        .card-two {
            position: absolute;
            height: 100px;
            left: 16rem;
            top: 20rem;
        }

        .btns {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding-top: 2rem;

            .touch {
                box-sizing: border-box;
                background: #072AC8;
                color: white;
                border: #072AC8;
                font-size: 15px;
                line-height: 130%;
                height: 2rem;
                width: 6rem;
            }

            .work {
                box-sizing: border-box;
                background: #F4F6FC;
                color: #6B708D;
                border: #F4F6FC;
                font-size: 15px;
                line-height: 130%;
                height: 2rem;
                width: 6rem;
            }
        }
    }

    .logos {
        filter: grayscale(100%);
        height: 15px;
        display: flex;
        padding: 2rem 0;
        justify-content: space-evenly;
    }

    .projects {
        padding: 1rem 0 4rem;
        display: flex;
        justify-content: space-evenly;

        .project {
            width: 30%;
            background-color: white;
            box-sizing: border-box;
            box-shadow: 5px 10px 30px#b7b9c4;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            .tiny-title {
                text-align: center;
                color: #292E47;
                padding: 10px 0;
                font-size: 15px;
            }

            #info-text {
                color: #6B708D;
                font-size: 13px;
                padding: 0 10%;
            }

            a {
                padding: 15px 0;
                text-decoration: none;
                color: #072AC8;
                font-size: 13px;
                
            }

            a:active {
                color: #6B708D;
            }

            img {
                height: 5rem;
                width: 100%;
            }
        }

    }

    .clients {
        box-sizing: border-box;
        background: #292E47 url(../testimonial-section/orbit.png) no-repeat;
        background-size: 100% 100%;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        
        
        .memojis-up{
            position: absolute;
            display: flex;
            justify-content: space-between;
            top: 0;
        }

        .memojis-down{
            position: absolute;
            display: flex;
            justify-content:space-between;
            bottom: 0;
        }
        
        img {
            width: 13%;
            padding: 8px;
        }

        .clients-info {
            .clients-text {
                text-align: center;
                color: #FFC600;
                padding: 3rem;
            }

            h3 {
                color: white;
                padding: 3rem 3rem 0;
            }
        }

        .profile {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 4rem;

            .profile-photo {
                border-radius: 50%;
                height: 50px;
                width: 50px;
            }

            .profile-text {
                #name {
                    color: #A2D6F9
                }

                #name:active {
                    color: #072AC8;
                }

                #url {
                    color: #F4F6FC;
                }
            }
        }
    }
}