.sub-message {
    visibility: hidden;
    box-sizing: border-box;
    padding: 6vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 70%;
    background-color: var(--white-blue);
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 0 200px rgba(0,0,0,0.5);
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease-in-out;
    
    &.visible {
        visibility: visible;
        opacity: 1;
    }

    .x {
        position: absolute;
        top: 20px;
        right: 30px;
        color: var(--medium-blue);
        font-size: var(--h4-size);
    }

    .your-email {
        font-size: var(--h3-size);
        font-weight: var(--bold);
        color: var(--dark-blue);
    }

    .soon {
        font-size: var(--body-medium);
        color: var(--medium-blue);
    }

    button {
        height: 52px;
        width: 150px;
        background-color: var(--primary-blue);
        border: none;
        color: white;
        font-size: var(--headline);
    }
}