.sub-message {
    visibility: hidden;
    box-sizing: border-box;
    padding: 5rem 4rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 70%;
    background-color: var(--white-blue);
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 0 400px rgba(0,0,0,0.5);
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease-in-out;
    
    &.visible {
        visibility: visible;
        opacity: 1;
    }

    .x {
        position: absolute;
        top: 20px;
        right: 30px;
        color: var(--medium-blue);
        font-size: var(--h4-size);
    }

    .your-email {
        font-size: clamp(var(--h3-size), 4vw, var(--h2-size));
        font-weight: var(--bold);
        color: var(--dark-blue);
    }

    .soon {
        font-size: clamp(1.3rem, 2.5vw, 2rem);
        color: var(--medium-blue);
    }

    button {
        height: 52px;
        width: 150px;
        background-color: var(--primary-blue);
        border: none;
        color: white;
        font-size: var(--headline);
    }

    @media screen and (max-width: 699px) {
        height: 45%;
        width: 100%;
        padding: 3.5rem;

        .your-email {
            font-size: clamp(1.5rem, 5vw, 2rem);
        }

        .soon {
            font-size: clamp(14px, 4.5vw, 1.5rem);
        }
    }

    @media screen and (min-width: 700px) and (max-width: 1024px) {
        height: 50%;
        padding: 3.5rem;

        .your-email {
            font-size: clamp(2rem, 4vw, 2.5rem);
        }

        .soon {
            font-size: 1.5rem;
        }
    }
}